body {
	background-color: rgb(230,230,230);
	font-size: 20;
}

.ebc_wrapper {
	display: grid;
	grid-template-columns: 200px 150px 200px;
	grid-template-rows: 50px 50px 50px 70px auto auto auto auto;
	grid-gap: 15px;
	justify-content: center;
}

.ebc_wrapper > div {
	background-color: rgb(220,220,220);
}

.BUS {
	grid-column: 2;
	grid-row: 1 / 3;
}

.A_reg {
	grid-column: 3;
	grid-row: 1;
}

.S_reg {
	grid-column: 3;
	grid-row: 2;
}

.B_reg {
	grid-column: 3;
	grid-row: 3;
}


.PC {
	grid-column: 1;
	grid-row: 1;
}

.IC {
	grid-column: 1;
	grid-row: 2;
}

.CW {
	grid-column: 1 / 4;
	grid-row: 6 / 7;
	background-color: rgb(232,232,232);
}

.FL {
	grid-column:  3;
	grid-row: 4;
	background-color: rgb(232,232,232);
}

.OUT {
	grid-column:  3;
	grid-row: 5;
}

.OUT > div {
	font-family: 'Segment7Standard'; 
	text-align: center;
	font-size: 72px;
}

.DECODER {
	grid-column: 2;
	grid-row: 5;
	text-align: center;
}

.STEP_CNT {
	display: inline-block;
}

.IR {
	grid-column: 2;
	grid-row: 4;
	display: inline-block;
}

.CONTROL {
	grid-column: 3;
	grid-row: 7;
	text-align: center;
}

.RAM {
	grid-column: 1;
	grid-row: 2 / 6;
	/*margin: 0 auto;*/
}

.README {
	grid-column: 1 / 4;
	grid-row: 9;
	padding: 8px 8px;
	text-align: left;
	text-indent: 10px;
}

.ass_wrapper {
	grid-column: 1;
	grid-row: 7 / 9;
}

.ass_wrapper > form > textarea {
	height: 200px;
}

.label {
	text-align: center;
}

.register {
	font-family: monospace;
	background-color: rgba(50, 115, 220, 0.3);
	text-align: center;
	padding: 1px 6px 1px 6px;
	margin: 2px 2px;
}

.memory_slot {
	font-family: monospace;
	display: flex;
	padding: 0 16px;
}

.memory_slot > div {
	background-color: rgba(50, 115, 220, 0.3);
	padding: 1px 3px;
	margin: 2px 3px;
}

.signal {
	font-family: monospace;
	background-color: rgba(50, 115, 220, 0.3);
	padding:1px 6px 1px 6px;
	margin: 1px 1px;
	text-align: center;
	display: inline-block;
}

.register, .signal, .memory_slot {
	font-size: 16px;
}

.label {
	font-size: 12px;
}

.btn {
	margin: 10px;
}

.inlb {
	display: inline-block;
}

.center {
	text-align: center;
}

.high {
	background-color: rgba(220, 64, 50, 0.3);
}

.hidden {
	display: none;
}

input[type="text"] {
	font-family: monospace;
	font-size: 16px;
	color: black;
	border: 0px;
	padding: 1px 3px;
	margin: 2px 3px;
	background-color: rgba(50, 115, 220, 0.3);
}

.memory_slot > input[type="button"]{
	background-color: rgba(50, 115, 220, 0.3);
	border: 0px;
	padding: 1px 6px;
	margin: 2px 5px;
}


